@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css">
    <script src="~/Scripts/Homepage.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/ajaxload.js"></script>
    <script src="~/Scripts/adapter.js"></script>
    <script src="~/Scripts/signalr.js"></script>
<script src="~/Scripts/CreateGroup.js"></script>
    <script>
        var user;
        var loaded = false;
        degoiapi.userInfo(
            (response) => {
                user = response;
                loadingDone();
            },
            (jqXHR, textStatus, errorThrown) => window.location.replace("@Url.Action("Login", "Account")")
        );
        window.onpopstate = () => {
            ajax.load(document.location.href);
        }
    </script>
}

<!--Header-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/imgs/logo.png" alt="Alternate Text" height="22"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left">
                <div class="form-group search-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-comment"></i>
                        <span class="badge">5</span>  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <strong>Nguyen Dat</strong>
                                <br>
                                <p>Hôm nay trời đẹp ghê, đi chơi hok</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>Thành Pk</strong>
                                <br>
                                <p>Alo Tuấn Anh đang làm gì đấy</p>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">See all in Messenger</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account manage</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="chat-slidebar" class="chat-sidebar">
</div>
<div id="video-call" class="video-call">
    <video id="friend-cam" class="friend-cam" style="background-color:green;" autoplay></video>
    <video id="my-cam" class="my-cam" autoplay muted></video>

    <div id="video-chat-box" class="chat-box">
        <div id ="video-chatbox-message" class="chatbox-messages">
            <ul>
                <li>
                    <span class="left">Hello</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="left">Are you there</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="right">Hello</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="right">I am here</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="left">How are you today?</span>
                    <div class="clear"></div>
                </li>
                <li><span class="right">I am fine, Thankyou</span>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="input-box">
            <textarea placeholder="Enter message"></textarea>
            <a class="btn-addimage" href="#"></a> &nbsp
            <a class="btn-addfile" href="#"></a>
        </div>
    </div>

    <div id="video-control" class="video-control">
        <button type="button" onclick="signalr.ToggleVideo()" id="disableVideoBtn"><i class="btn-disable-video"></i></button>
        <button type="button" onclick="signalr.ToggleSound();" id="mutedBtn"><i class="btn-muted"></i></button>
        <button type="button" id="endCallBtn"><i class="btn-end-call"></i></button>
        <button type="button" onclick="exitFullScreen()" id="exitFullScreenBtn"><i class="btn-exit-fullscreen"></i></button>
    </div>
    <button type="button" id="full-screen" onclick="openFullScreen()" name="button"><i class="btn-fullscreen"></i></button>
</div>

<input type="text" name=""/>
@*---- CREATE GROUP CALL PANEL----*@
<button type="button" style="margin-top: 100px" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div id="create-group-call">
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Group</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Name of group" class="form-control" name="name" value="" />
                    <br />
                    @*-------Search form------*@
                    <form id="search-form" action="/" method="post">
                        <table>
                            <tr>
                                <td><input type="text" name="searchquery" class="form-control" id="create-group-search-input" placeholder="Search for people to add" /> </td>
                                <td> <center> Selected</center></td>
                            </tr>

                            <tr>
                                <td>
                                    <div id="create-group-search-result-container" class="list-group">
                                    </div>
                                </td>
                                <td>
                                    <div id="create-group-selected-user-container" class="list-group">

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="create-group-btn-create" type="button" class="btn btn-default" data-dismiss="modal">Create</button> &nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@*------ CREATE GROUP CALL PANEL------*@

@* TEST scroll bar
    <div style="width: 100px;"> AAAAAA<br/>AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />
    AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br />AAAAAA<br /> </div>*@
<main>
    @RenderBody()
</main>

<script>
    function logout() {
        degoiapi.logout(
            (response) => window.location.replace("@Url.Action("Login", "Account")")
        );
    }
    window.onbeforeunload = () => {
        signalr.ChatHub.dispose();
    }
    window.onload = () => {
        chatSliderBarCalcHeight();
        ajax.assign();
        $("#username").text(user.Email);
    }
</script>
<script src="~/Scripts/CreateGroup.js"></script>
