@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css">
    <script src="~/Scripts/Homepage.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/ajaxload.js"></script>
    <script src="~/Scripts/adapter.js"></script>
    <script src="~/Scripts/signalr.js"></script>
    <script>
        var user;
        degoiapi.userInfo(
            (response) => {
                user = response;
                $("#username").text(user.Email);
                loadingDone();
            },
            (jqXHR, textStatus, errorThrown) => window.location.replace("@Url.Action("Login", "Account")")
        );
        window.onpopstate = () => {
            ajax.load(document.location.href);
        }
    </script>
}

<!--Header-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/imgs/logo.png" alt="Alternate Text" height="22"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left">
                <div class="form-group search-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-comment"></i>
                        <span class="badge">5</span>  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <strong>Nguyen Dat</strong>
                                <br>
                                <p>Hôm nay trời đẹp ghê, đi chơi hok</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>Thành Pk</strong>
                                <br>
                                <p>Alo Tuấn Anh đang làm gì đấy</p>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">See all in Messenger</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account manage</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="chat-slidebar" class="chat-sidebar">
</div>
<div id="video-call" class="video-call">
    <video id="friend-cam" class="friend-cam" style="background-color:green;" autoplay></video>
    <video id="my-cam" class="my-cam" autoplay muted></video>

    <div id="video-chat-box" class="chat-box">
        <div class="chatbox-messages">
            <ul>
                <li>
                    <span class="left">Hello</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="left">Are you there</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="right">Hello</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="right">I am here</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span class="left">How are you today?</span>
                    <div class="clear"></div>
                </li>
                <li><span class="right">I am fine, Thankyou</span>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="input-box">
            <textarea placeholder="Enter message"></textarea>
            <a class="btn-addimage" href="#"></a> &nbsp
            <a class="btn-addfile" href="#"></a>
        </div>
    </div>

    <div id="video-control" class="video-control">
        <button type="button" onclick="disableVideo()" id="disableVideoBtn"><i class="btn-disable-video"></i></button>
        <button type="button" onclick="muted" id="mutedBtn"><i class="btn-muted"></i></button>
        <button type="button" id="endCallBtn"><i class="btn-end-call"></i></button>
        <button type="button" onclick="exitFullScreen()" id="exitFullScreenBtn"><i class="btn-exit-fullscreen"></i></button>
    </div>
    <button type="button" id="full-screen" onclick="openFullScreen()" name="button"><i class="btn-fullscreen"></i></button>
</div>


@*<div class="popup-box chat-popup" id="e54d1506-00b0-4a06-84ef-031f52764a14" style="right: 220px; display: block;">
    <div class="popup-head" onclick="console.log('anhnttse04296@fpt.edu.vn');">
        <div class="popup-head-left" >
            anhnttse04296@fpt.edu.vn
        </div>
        <div class="popup-head-right">
            <a class="btn-callvideo" onclick="callPeople('e54d1506-00b0-4a06-84ef-031f52764a14')" href="#"></a>
            <a class="btn-closepopup" href="javascript:close_popup('e54d1506-00b0-4a06-84ef-031f52764a14');"></a>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <div class="chatbox-messages">
    </div>
    <div class="input-box">
        <textarea placeholder="Enter message"></textarea>

        <a class="btn-addimage" href="#"></a>
        <a class="btn-addfile" href="#"></a>
    </div>
</div>*@
<main>
    @RenderBody()
</main>

<script>
    function logout() {
        degoiapi.logout(
            (response) => window.location.replace("@Url.Action("Login", "Account")")
        );
    }
    window.onunload = () => {
        signalr.chatHub.stop();
    }
    window.onload = () => {
        ajax.assign();
    }
</script>