
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Information";
}

@section head {
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style media="screen">
        @@import "font-awesome.min.css";
        @@import "font-awesome-ie7.min.css";
        /* Space out content a bit */
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Everything but the jumbotron gets side spacing for mobile first views */
        .header,
        .marketing,
        .footer {
            padding-right: 15px;
            padding-left: 15px;
        }

        /* Custom page header */
        .header {
            border-bottom: 1px solid #e5e5e5;
        }
            /* Make the masthead heading the same height as the navigation */
            .header h3 {
                padding-bottom: 19px;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 40px;
            }

        /* Custom page footer */
        .footer {
            padding-top: 19px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }

        /* Customize container */
        @@media (min-width: 768px) {
            .container {
                max-width: 730px;
            }
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
        }

            .jumbotron .btn {
                padding: 14px 24px;
                font-size: 21px;
            }

        /* Supporting marketing content */
        .marketing {
            margin: 40px 0;
        }

            .marketing p + h4 {
                margin-top: 28px;
            }

        /* Responsive: Portrait tablets and up */
        @@media screen and (min-width: 768px) {
            /* Remove the padding we set earlier */
            .header,
            .marketing,
            .footer {
                padding-right: 0;
                padding-left: 0;
            }
            /* Space out the masthead */
            .header {
                margin-bottom: 30px;
            }
            /* Remove the bottom border on the jumbotron for visual effect */
            .jumbotron {
                border-bottom: 0;
            }
        }
    </style>
    <script>
        var user;
        var loaded = false;
        degoiapi.userInfo(
            (response) => {
                user = response;
                if (user.UserDetails) {
                    $("#FirstName").val(user.UserDetails.FirstName);
                    $("#LastName").val(user.UserDetails.LastName);
                    $("#About").val(user.UserDetails.About);
                    myDate = new Date(user.UserDetails.DOB);
                    $("#dob").val(myDate.getFullYear() + "-" + ((myDate.getMonth() + 1) > 10 ? "" : "0") + (myDate.getMonth() + 1) + "-" + (myDate.getDate() > 10 ? "" : "0") + myDate.getDate());
                    if (user.UserDetails.Gender) $("#gendermale").attr("checked", "checked"); else $("#genderfemale").attr("checked", "checked");
                }
                degoiapi.languages(
                    (response) => {
                        for (var i = 0; i < response.length; i++) $("#language").append(`<div class="checkbox" style="padding-left: 20px"><label><input type="checkbox" id="language${response[i].LanguageId}" name="language${response[i].LanguageId}">${response[i].LanguageName}</label></div>`);
                        var langs = user.UserDetails.LanguageIds.split(",");
                        for (var i = 0; i < langs.length; i++) $(`#language${langs[i]}`).attr("checked", "checked");
                    }
                );
                degoiapi.countries(
                    (response) => {
                        for (var i = 0; i < response.length; i++) $("#country").append(`<option value="${response[i].CountryId}">${response[i].CountryName}</option>`);
                        $("#country").val(user.UserDetails.CountryId);
                    }
                );
                loadingDone();
            },
            (jqXHR, textStatus, errorThrown) => window.location.replace("@Url.Action("Login", "Account")")
        );
    </script>
}

<div class="container">
    <h1 class="well">Change Your information</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form id="updateInfo">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            <input type="text" id="FirstName" name="FirstName" placeholder="Enter First Name Here.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            <input type="text" id="LastName" name="LastName" placeholder="Enter Last Name Here.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="country" class="control-label">Country</label>
                            <div class="">
                                <select id="country" name="country" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-8 form-group">
                            <label for="birthDate" class="control-label">Date of Birth</label>
                            <div class="">
                                <input type="date" id="dob" name="dob" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <div class="">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="radio-inline">
                                        <input type="radio" id="genderfemale" name="gender" value="Female">Female
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="radio-inline">
                                        <input type="radio" id="gendermale" name="gender" value="Male">Male
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Language</label>
                        <div class="">
                            <div class="row" id="language">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>About</label>
                        <input type="text" id="About" name="about" placeholder="Tell us about you..." class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-block" float="right" onclick="updateInfo()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateInfo() {
        degoiapi.updateInfo(
            $("#updateInfo").serialize(),
            (done) => {
                window.location.replace("@Url.Action("Index")");
            }
        );
    }
</script>

