@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div id="api">
    @Html.ActionLink("Test1", "Test1")
    @Html.ActionLink("Test2", "Test2")
    @Html.ActionLink("Posts", "Posts")
</div>