nav {
  z-index: 1000;
}
/*Chat slider bar*/
.chat-sidebar
{
  width: 200px;
  position: fixed;
  height: 100%;
  right: 0px;
  top: 0px;
  margin-top: 52px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-left: 1px solid rgba(29, 49, 91, .3);

}

.sidebar-name
{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  font-size: 12px;
}

.sidebar-name span
{
  padding-left: 5px;
}

.sidebar-name a
{
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.sidebar-name:hover
{
  background-color:#e1e2e5;
}

.sidebar-name img
{
  width: 32px;
  height: 32px;
  vertical-align:middle;
}
/*Chat Popup */
.popup-box
{
  border: 0px;
  border-radius: 3px 3px 0 0;
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 400px;
  background-color: rgb(237, 239, 244);
  width: 300px;
}

.popup-box .popup-head
{
  background-color: #6d84b4;
  padding: 3px 3px 3px 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
}

.popup-box .popup-head .popup-head-left
{
  float: left;
}

.popup-box .popup-head .popup-head-right
{
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
  text-decoration: none;
  color: inherit;
}


.chatbox-messages
{
  padding: 10px;
  height: 300px;
  background-color: green;
  background-color: rgb(237, 239, 244);
  overflow-y: scroll;
}

.chatbox-messages ul
{
  font-size: 16px;
  padding: 0px;
  list-style-type: none;
}

.chatbox-messages ul li
{
  height: auto;
  margin-bottom: 8px;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}

.chatbox-messages ul li span
{
  display: inline-block;
  max-width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.chatbox-messages ul li span.left
{
  float: left;
}

.chatbox-messages ul li span.right
{
  float: right;
  background-color: #dbedfe;
}

.clear
{
  clear: both;
}

.input-box
{
  background-color: white;
  height: 50px;
  padding: 0px;
  border-top: 1px solid black;
}

.input-box textarea
{
  padding: 3px;
  width: 100%;
  height: 28px;
  display: inline-block;
  border-width: 0px;
  resize: none;
  font-size: 16px;
}

.input-box button {
  height: 20px;
}

.popup-box .input-box input {
  display: none;
}

/*Video call Container*/
.video-call {
  display: none;
  position: fixed;
  top:52px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.video-call .friend-cam {
  position: absolute;
  bottom: 0px;
  right: 350px;
  width: 100%;
  height: 100%;
}

.video-call .my-cam {
  width: 10%;
  height: 10%;
  position: fixed;
  bottom: 20px;
  left:20px;
  background-color: red;
}

#video-chat-box {
  position: fixed;
  width: 350px;
  background-color: blue;
  height: 100%;
  top: 52px;
  right: 0px;
}

.video-call .video-control {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

.video-call .minimize {
  position: fixed;
  width: 200px;
  height: 200px;
  bottom: 100px;
  left: 100px;
}

#full-screen {
  position:fixed;
  bottom: 100px;
  left:100px;
  display: none;
}

#video-chat-box .chatbox-messages {
  height: 100%;
}

#having-call {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  padding: 10px;
  top: 40%;
  left: 40%;
  /*//display: none;*/

}
