main {
    padding-top: 52px;
}
nav {
    position: fixed !important;
    width: 100%;
    height: 56px;
    top: 0 !important;
    z-index: 10;
}
/*Chat slider bar*/
.chat-sidebar {
    width: 270px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    margin-top: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid rgba(29, 49, 91, .3);
    overflow: auto;
}

.sidebar-name {
    padding: 5px 10px 5px 10px;
    margin-bottom: 4px;
    font-size: 12px;
    overflow: auto;
}

.sidebar-name span
{
  padding-left: 5px;
}

.sidebar-name a
{
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.sidebar-name:hover
{
  background-color:#e1e2e5;
}

.sidebar-name img
{
  width: 32px;
  height: 32px;
  vertical-align:middle;
}

/*Chat Popup */
.popup-box
{
  border: 0px;
  border-radius: 3px 3px 0 0;
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
    height: 390px;
    background-color: white;
  width: 300px;
    border: 1px solid gainsboro;
}

.popup-box .popup-head
{
  background-color: #4080ff;
  padding: 3px 3px 3px 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
}

.popup-box .popup-head .popup-head-left
{
    margin-top: 3px;
  float: left;
}

.popup-box .popup-head .popup-head-right
{
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
  text-decoration: none;
  color: inherit;
}


.chatbox-messages
{
  padding: 10px;
  height: 300px;
  background-color: white;
  overflow-y: scroll;
}

.chatbox-messages ul
{
  font-size: 16px;
  padding: 0px;
  list-style-type: none;
}

.chatbox-messages ul li
{
  height: auto;
  margin-bottom: 8px;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}

.chatbox-messages ul li span
{
  display: inline-block;
  max-width: 200px;
  background-color: #f1f0f0;
  padding: 5px;
  border-radius: 4px;
  position: relative;
}

.chatbox-messages ul li span.left
{
  float: left;
}

.chatbox-messages ul li span.right
{
  float: right;
    background-color: #4080ff;
    color: white;
}

.clear
{
  clear: both;
}

.input-box
{
  background-color: white;
    padding: 0px 0px 0px 5px;
    border-top: 1px solid #e1e2e5;
    position: fixed;
    bottom: 0;
    width: 298px;
    height: 60px;
}

.input-box textarea
{
  padding: 3px;
  width: 100%;
  height: 28px;
  display: inline-block;
  border-width: 0px;
  resize: none;
  font-size: 16px;
}

.input-box textarea:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;

}

.input-box button {
  height: 20px;
}

.popup-box .input-box input {
  display: none;
}

.search-group input {
    width: 400px !important;
}

/*Video call Container*/
.video-call {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

.video-call .friend-cam {
    margin: auto;
    position: fixed;
}

.video-call .my-cam {
  height: 10%;
  position: fixed;
  bottom: 20px;
  left:20px;
  background-color: black;
}

.video-chat-box {
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    right: 0 !important;
}

.video-call .video-control {
  position: fixed;
    width: 271px;
  text-align: center;
  bottom: 20px;
    right: 350px;
}

.video-call .minimize {
    position: fixed !important;
    height: 15% !important;
    width: auto !important;
    bottom: 20px !important;
    left: 20px !important;
    top: auto !important;
}

#full-screen {
  position:fixed;
  bottom: 100px;
  left:100px;
  display: none;
}

.video-chat-box .chatbox-messages {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
}

.video-chat-box .input-box {
    width: 350px;
}

#having-call {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  padding: 10px;
  top: 40%;
  left: 40%;
  /*//display: none;*/
}


.popup-box .btn-callvideo {
    height: 26px;
    width: 22px;
    background-image: url("../imgs/icon.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -1px -214px;
    display: inline-block;
    vertical-align: top;
}

.popup-box .btn-closepopup {
    height: 26px;
    width: 22px;
    background-image: url("../imgs/icon2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -1px -119px;
    display: inline-block;
    vertical-align: top;
}

.btn-addimage {
    height: 16px;
    width: 16px;
    background-image: url("../imgs/icon3.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px -564px;
    display: inline-block;
    vertical-align: top;
}

.btn-addfile {
    height: 16px;
    width: 16px;
    background-image: url("../imgs/icon3.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px -530px;
    display: inline-block;
    vertical-align: top;
}

#btn-create-new-group {
    height: 16px;
    width: 16px;
    background-image: url("../imgs/icon6.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -442px;
    display: inline-block;
}



#slidebar-search {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 270px;
    border: 1px solid rgba(29, 49, 91, .3);
}

#slidebar-search input {
    height: 26px;
    font-size: 14px;
    width: 240px;
    border: 0;
    padding-left: 3px;
}

#slidebar-search input:focus {
    outline: none;
}

#video-control button,#full-screen {
    background-color: rgba(20,20,20,.6);
    border: none;
    cursor: pointer;
    font-size: 0;
    height: 44px;
    line-height: 0;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    transition: background-color .3s;
    width: 64px;
}

.btn-disable-video {
    background-image: url("../imgs/icon4.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -149px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.btn-muted {
    background-image: url("../imgs/icon4.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -191px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.btn-end-call {
    background-image: url("../imgs/icon4.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -170px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.btn-exit-fullscreen {
    background-image: url("../imgs/icon4.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -42px -170px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.btn-fullscreen {
    background-image: url("../imgs/icon4.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -170px;
    display: inline-block;
    height: 20px;
    width: 20px;
}


/*Animation*/

@keyframes openVideoCall {
    from {
    
    }

    to {
        width: 350px;
        height: 100%;
        position: fixed;
        right: 0;
        bottom: 0;    
    }
}

.open-videocall {
    animation-name: openVideoCall;
    animation-duration: 0.5s;
}



/*----SEARCH FROM----*/
#search-form table {
    width: 100%;
}

#search-form table td {
    width: 50%;
    padding: 5px;
}

#search-form table tr:first-child {
   
}
/*--------SEARCH FROM--------*/
